<div class="blog-signup">
  <div class="container">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam nec velit sed porttitor. Aliquam erat volutpat. Phasellus auctor auctor nunc. Integer vulputate placerat ex, ac tincidunt ipsum.</p>      
    <form class="form-inline">
      <div class="form-group"><p class="form-control-static"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam nec velit sed porttitor.</p></div>
      <div class="form-group">
        <label class="sr-only" for="signupName">Name</label>
        <input type="text" class="form-control" id="signupName" placeholder="Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="signupEmail">Email address</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-default">Sign up</button>
    </form>
  </div>
</div>