    <div class="signup-form">
        <div class="col-sm-4 col-xs-12">
            <img src="/img/iw-cover.png" alt="book cover">
            <p class="hidden-xs">"At vero eos et accusamus et iusto odio dignissimos ducimus</p>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h3 class="form_title">FREE Email Productivity Guide</h3>
            <p>Do you find email overwhelming? Is&nbsp;managing email on your iPhone or iPad a hassle? This FREE guide will help you take control of email.</p><p>Enter your name and email and&nbsp;download the guide.&nbsp;</p>
            <form>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <a class="btn btn-default" href="#" role="button">Download</a>
                <div class="no-spam">We won't send you spam. Unsubscribe at any time.</div>
            </form> 
        </div>
    </div>